

<div class="main-content">
    <div class="container-fluid">
        <iframe [src]="example1URL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div> 
    <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onFileStateExample($event);">Test FileState</button>
     </div>

     <div class="example-button-container" >
      <button mat-raised-button color="primary" (click)="onFileStateSaveExample($event);">Test FileState Save</button>
   </div>

     <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onCameraStateExample($event);">Test CameraState</button>
     </div>

     <div class="example-button-container" >
      <button mat-raised-button color="primary" (click)="onCameraStatePropertyUpdateExample($event);">Test CameraState Update Property</button>
   </div>

     <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onProcessLaunch($event);">Test Process Launch</button>
     </div>

    <div class="example-button-container" >
       <button mat-raised-button color="primary" (click)="onProcessState($event);">Test Process State</button>
    </div>

    <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onNetworkInterfaceExample($event);">Test Network Interface State</button>
     </div>    

     <div class="example-button-container" >
         <button mat-raised-button color="primary" (click)="onDeviceDetailsExample($event);">Test Device Details State</button>
   </div>  
</div>
