

<div class="main-content">
    <div class="container-fluid">
        <iframe [src]="example1URL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div> 
    <div class="row">
      <div class="col-lg-4 text-right">
        <div id="CameraMain" class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Main</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-danger-states"></i></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id=""></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-right">
        <div id="CameraAux" class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Aux</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id=""></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-right">
        <div id="CameraMask" class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Mask</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id=""></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div #FileStateDiv id="example" class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onFileStateExample($event);">Test FileState</button>
     </div>

     <div class="example-button-container" >
      <button mat-raised-button color="primary" (click)="onFileStateSaveExample($event);">Test FileState Save</button>
   </div>

     <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onCameraStateExample($event);">Test CameraState</button>
     </div>

     <div class="example-button-container" >
      <button mat-raised-button color="primary" (click)="onCameraStatePropertyUpdateExample($event);">Test CameraState Update Property</button>
   </div>

     <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onProcessLaunch($event);">Test Process Launch</button>
     </div>

    <div class="example-button-container" >
       <button mat-raised-button color="primary" (click)="onProcessState($event);">Test Process State</button>
    </div>

    <div class="example-button-container" >
        <button mat-raised-button color="primary" (click)="onNetworkInterfaceExample($event);">Test Network Interface State</button>
     </div>    

     <div class="example-button-container" >
         <button mat-raised-button color="primary" (click)="onDeviceDetailsExample($event);">Test Device Details State</button>
   </div>  
   <div class="example-button-container" >
      <button mat-raised-button color="primary" (click)="onElementPositionExample($event);">Test Element Position</button>
   </div>  

   <div class="example-button-container" >
      <button mat-raised-button color="primary" (click)="onSoldamaticExerciseStateExample($event);">Test Soldamatic Exercise State</button>
   </div>  
</div>
