<canvas #webGLCanvas id="basic-canvas"></canvas>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div id="model1" style="width:200px;height:200px">

                </div>
            </div>
            <div class="col-sm-4">
                <div id="model2" style="width:200px;height:200px">

                </div>
            </div>
            <div class="col-sm-4">
                <div id="model3" style="width:200px;height:200px">

                </div>
            </div>
        </div>
<!--         <div class="row">
            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="CheckMessage();">Call C++ Message</button>
        </div> -->
    </div>
</div>
